body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.main_menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
#variant_count:focus{
    outline: none;
}
#variant_count {
    width: 170px;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0 10px 0;
    border: 1px transparent;
    border-bottom: 3px solid dimgray;
    font-size: 100px;
    text-align: center;
}
#variant_count::-webkit-inner-spin-button,
#variant_count::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.main_menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gen_button {
    width: 100%;
    border: 1px transparent;
    padding: 10px;
    background-color: #d9d9d9;
    font-size: 18px;
    margin-bottom: 10px;
}
#gen_button:hover {
    background-color: #8c8c8c;
}
#settings_button {
    border: 1px transparent;
    padding: 10px;
    background-color: #d9d9d9;
    font-size: 18px;
    width: 150px;
    margin: auto;
}
#settings_button:hover {
    background-color: #8c8c8c;
}
#main_menu_title {
    margin: 0;
    text-align: center;
    opacity: 80%;
}








.settings {
    margin: 100px 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#back_button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border: 1px transparent;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: white;
    color: red;
}
#back_button:hover {
    color: #b43030;
    transition: color 400ms;
}
.settings_container {
    height: auto;
}
#settings_container_title {
    text-align: center;
    opacity: 80%;
}
.category {
    display: flex;
    flex-direction: column;
    width: 550px;
    border-bottom: 3px solid black;
}
.category_title_and_check_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 0 15px;
    color: black;
    transition: color 120ms ease-out;
}
.category_title_and_check_wrapper:hover .category_title{
    color: #c52f2f;
    transition: color 120ms ease-out;
}
.sub_category {
    display: none;
    flex-direction: column;
}
.sub_category_title_and_check_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    color: black;
    transition: color 120ms ease-out;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.sub_category_title_and_check_wrapper:hover {
    color: #d0813a;
    transition: color 120ms ease-out;
}
.sub_category_task {
    display: none;
    flex-direction: column;
}
.sub_category_task_title_and_check_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 45px;
    color: black;
    transition: color 120ms ease-out;
}
.sub_category_task_title_and_check_wrapper:hover {
    color: #30c282;
    transition: color 120ms ease-out;
}
.test {
    width: 30px;
    background-color: black;
}





.category_custom_checkbox, .sub_category_custom_checkbox, .task_custom_checkbox {
    align-self: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.category_checkbox_div, .sub_category_checkbox_div, .task_checkbox_div {
    position: relative;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    left: 1px;
    box-shadow: #6e2091 0 0 10px;
    transition: box-shadow 120ms ease-out;
    cursor: pointer;
}
.category_checkbox_div:before, .sub_category_checkbox_div:before, .task_checkbox_div:before {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background-color: rgb(137, 70, 192);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 120ms ease-out;
    cursor: pointer;
}
.category_checkbox, .sub_category_checkbox, .task_checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
}
.category_checkbox:checked + .category_checkbox_div:before, .sub_category_checkbox:checked + .sub_category_checkbox_div:before, .task_checkbox:checked + .task_checkbox_div:before {
    opacity: 1;
    transition: opacity 120ms ease-out;
}
.category_checkbox:checked + .category_checkbox_div, .sub_category_checkbox:checked + .sub_category_checkbox_div, .task_checkbox:checked + .task_checkbox_div {
    box-shadow: none;
    transition: box-shadow 120ms ease-out;
}










.sub_category_display_none {
    display: none;
}



.disabled_sub_category {
    pointer-events: none;
    opacity: 50%;
}




